<div class="container py-3 padding-top-two">
  <header class="background-navigator">
    <div class="d-flex flex-column-reverse flex-md-row align-items-center">
      <div class="d-flex flex-row-reverse w-100 m-lr-5">
        <div *ngFor="let locale of locales">
          <img class="m-lr-5" src="../assets/img/k-{{locale.localeCode}}.png" width="30px" (click)="useLanguage(locale.localeCode )"/>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <img src="../assets/img/logo.png" class="logo"/>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none menu-item-colored-active" [routerLink]="['home']">
          <p [translate]="'navigator.home.page'"></p>
        </a>
        <a class="me-3 py-2 text-dark text-decoration-none menu-item-colored-active" [routerLink]="['countries']">
          <p [translate]="'navigator.countries'"></p>
        </a>
        <a class="me-3 py-2 text-dark text-decoration-none menu-item-colored-active" [routerLink]="['attributes']">
          <p [translate]="'navigator.countries.attributes'"></p>
        </a>
      </nav>
    </div>
  </header>
</div>

<div class="container py-3 container-content">
  <router-outlet></router-outlet>
</div>

